<div class="hp-tabs-list tabs-list-row big-image-style big-image-{{ _big_image_style }}">
  
  {% if _big_image_style == 'left' %}
    {% include 'big-image-left' %}
  {% else %}
    {% include 'big-image-right' %}
  {% endif %}

</div>