<div class="instagram-widget">
  
  <div id="instagram_list" class="instagram_list" data-token-key="{{settings.instagram_token}}" data-uid="{{settings.instagram_userid}}" data-cid="{{settings.instagram_id}}" data-limit="{{settings.instagram_number}}"></div>
  
</div>
